.carousel-container {
    max-width: 1100px;
    margin: 0 auto;
    /* overflow: hidden;  */
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel-text {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-bottom: 20px;
}

.carousel-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.carousel-subtext {
    font-size: 16px;
    color: #fff;
}

.carousel-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 750px; /* Limit the image height to avoid taking up too much space */
    object-fit: cover; /* Ensures the image fills the space properly without distortion */
    border-radius: 10px;
}

.slide1 {
    background: #ADBBB9;
}

.slide2 {
    background: #CBCFC5;
}

.slide3 {
    background: #9FAEB0;
}
